{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "no-shadow": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "react/prop-types": 0
  }
}
